
body {
    background-image: linear-gradient( 135deg, #92FFC0 10%, #002661 100%);
    
}
h1 {
    font-family: 'Roboto Mono', monospace;
    border: 10px;
    margin: 1% 30% 1% 30%;
    color: rgba(4, 76, 159, 0.575);
}
span {
    background-image: linear-gradient( 135deg, #120160 0%, #00276100 100%);
    width: 300px;
    margin: 0px 30px 100px 0px;
    padding: 0px 10px 770px 140px;
}
section {
    margin-left: 250px;
    
}
li {
    font-family: 'Roboto Mono', monospace;
    border: 10px;
    margin: 5px 0px 5px 0px;
}
h3 {
    font-family: 'Roboto Mono', monospace;
    color: rgba(2, 69, 146, 0.907);
    margin-left: 0px;
    margin-right: 50px;
    padding: 0px 15px 0px 0px;
}
label {
    padding-right: 10px;
    font-size: 1rem;
}
p {
    font-family: 'Roboto Mono', monospace;
    color: bisque;
    scale: 93%;
    margin: 0px 0px 0px -10px;
    padding: 0px 0px 0px 5px;
}
.Mi_clase {
    color: bisque;
    padding: 0px 50px 0px 5px;
}
.barralateral {
    height: 100%;
    width: 250px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    padding-bottom: 510px;
    background-image: linear-gradient( 135deg, #120160 0%, #ffffff00 100%);
    }
    
.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    }
img {
    margin: -30px 0px 0px 0px;
    padding: 0px 0px 0px 5px;
} 
